/*  your css code here. If applicable */
body{
	background-color:#f5f5f5;
}
.header{
	padding:10px;
	background-color:#011e29;
	text-align:center;
	color:white;
}
.latest-news-section{
	background-color:white;
	border-radius:20px;
	margin:5px;
}
.Main-Article{
	background-color:white;
	border-radius:20px;
	margin:5px;
}
.pictorial-news{
	background-color:white;
	border-radius:20px;
	margin:5px;
}
.pictorial-news>img{
	width:100px;
	height:auto;
}
#Headliness{
	
	border-radius:10px;
	padding:20px;
	display:flex;
	justify-content:space-around;
	
}
h3{
	text-align:center
}
h2{
	font-size:
}
.Main-Article>p{
	padding:1px;
	text-align:center;
}

           


        